{% load static %}
<section class="left-bar">
    <div class="top-img">
        <div class="profile"><img class="profile" src="{% static 'statics/images/profile.png' %}" alt="profile"></div>
        <div>
            <h4>Mina Gholami</h4>
        </div>
        <div>
            <h5>Machine Learning Eng</h5>
        </div>
        <div>
            <h5>Back-End Developer</h5>
        </div>
        <div>
            <h5>Material Engineer</h5>
        </div>
    </div>
    <div class="social">
        <ul class="social">
            <li class="social">
                <a href="https://api.whatsapp.com/send?phone=9108266247" class="social" target="_blank"><img src="{% static 'statics/images/whatsapp.png' %}" alt="whatsapp" class="social"></a>
            </li>
            <li class="social">
                <a href="https://instagram.com/minagh101" class="social" target="_blank"><img src="{% static 'statics/images/instagram-new.png' %}" alt="instagram" class="social"></a>
            </li>
            <li class="social"><a href="https://www.linkedin.com/in/mina-gholami-167138256" class="social" target="_blank"><img src="{% static 'statics/images/linkedin.png' %}"
                        alt=linkedin" class="social"></a></li>
            <li class="social">
                <a href="https://mail.google.com/mail/u/?authuser=migholami101@gmail.com" class="social" target="_blank"><img src="{% static 'statics/images/gmail.png' %}" alt="gmail" class="social"></a>
            </li>
            <li class="social">
                <a href="https://github.com/MinaGH101" class="social" target="_blank"><img src="{% static 'statics/images/github.png' %}" alt="github" class="social"></a>
            </li>
        </ul>
    </div>
    <hr class="back">
    <div class="info">
        <ul class="info">
            <li class="info">
                <h4 class="info-title">Born in: </h4>
                <h4 class="info-num">1999</h4>
            </li>
            <li class="info">
                <h4 class="info-title">Residence: </h4>
                <h4 class="info-num">MD</h4>
            </li>
            <li class="info">
                <h4 class="info-title">Freelance: </h4>
                <h4 class="info-num" id="avai">Available</h4>
            </li>
            <li class="info">
                <h4 class="info-title">Address: </h4>
                <h4 class="info-num">Iran, Tehran</h4>
            </li>
        </ul>
    </div>
    <hr class="back">
    <div class="skills">
        <div class="skills lang">
            <h4 class="skills lang">Languages: </h4>
            <div class="skills lang eng">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">English</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">80%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang eng">
            </div>
            <div class="skills lang per">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">Persian</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">100%</h5>
                    </li>
                </ul>
                <hr class="skills lang far">
            </div>
        </div>
        <hr class="three">
        <div class="skills skill">
            <h4 class="skills skill">
                Skills:
            </h4>
            <div class="skill skill ml">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">Machine Learning:</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">97%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang ml">
            </div>
            <div class="skill skill dl">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">Deep Learning:</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">95%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang dl">
            </div>
            <div class="skill skill py">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">Python:</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">85%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang py">
            </div>
            <div class="skill skill ht">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">HTML/CSS:</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">75%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang ht">
            </div>
            <div class="skill skill dj">
                <ul class="skills lang">
                    <li class="skills lang">
                        <h5 class="skills lang title">Django:</h5>
                    </li>
                    <li class="skills lang num">
                        <h5 class="skills lang num">95%</h5>
                    </li>
                </ul>
                <hr class="back">
                <hr class="skills lang dj">
            </div>
        </div>
    </div>
    <!-- <img src="statics/images/pic1.svg" alt="" class="pic"> -->
</section>
